<div class="jumbotron">
  <div class="container">
    <form [formGroup]="updateMemberForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone" formControlName="phone">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="!updateMemberForm.valid">Save Changes</button>
    </form>
  </div>
</div>
