<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Pool System</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" fragment="about">About Us</a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link"  [routerLink]="['/home']" fragment="services">Services</a>
        </li>
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" fragment="contact" routerLinkActive="active">Contact</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/cardsinfo']" routerLinkActive="active">Cards Info</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/members']" routerLinkActive="active">Members</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!loggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Log in</a>
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" (click)="logout()">Log out</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
