table {
  width: 87%;
  margin: 30px auto 150px auto;
}

.actions-header {
  margin-top: 18px;
}

.mat-column-actions {
  display: flex;
  justify-content: center;
}

.add-button {
  background-color: #43af4c;
  color: white;
  margin-top: 30px;
  margin-left: 7%;
}

.edit-button {
  margin-right: 15px;
}
