<div class="about">
  <div class="title col-lg-6">
    Welcome to our Pool System Webiste
  </div>
  <div class="col-lg-6">
    Our innovative modular design allows you to swim or exercise indoors or out. Featuring our industry-best swim current,
    full temperature control, and 5 models to choose from. Enjoy total-body aquatic activity, followed by post-workout relaxation
    in jetted seats! Two-in-one design combines a swim current with hydromassage luxury. Our most affordable swimming pool comes
    complete – you'll have everything you need to assemble your own compact, indoor pool for year-round swimming, fitness, and fun.
</div>
</div>
<div class="photos-container">
  <div class="image col-lg-4">
    <img src="../../../assets/recreation-swimming.jpg">
    <h4>Recreation swimming</h4>
  </div>
  <div class="image col-lg-4">
    <img src="../../../assets/kids pool.jpg">
    <h4>Kids pool</h4>
  </div>
  <div class="image col-lg-4">
    <img src="../../../assets/training.jpg" height="400px">
    <h4>Training</h4>
  </div>
</div>
