<div class="about">
  <div class="title col-lg-6">
    Welcome to our Pool System Webiste
  </div>
  <div class="col-lg-6">
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim magna ac ligula interdum, vel porta tellus rhoncus.
   Integer sit amet posuere elit. Ut tempus scelerisque accumsan. Nunc vehicula condimentum tortor a convallis.
   Nam accumsan, massa sed feugiat sollicitudin, elit mauris maximus mauris, a luctus arcu neque eu est.
   Duis risus tortor, tincidunt imperdiet sapien in, feugiat consequat felis. Nulla accumsan rhoncus lectus, sit amet scelerisque est vulputate sit amet.
</div>
</div>
<div class="photos-container">
  <div class="image col-lg-4">
    <img src="../../../assets/recreation-swimming.jpg">
    <h4>Recreation swimming</h4>
  </div>
  <div class="image col-lg-4">
    <img src="../../../assets/kids pool.jpg">
    <h4>Kids pool</h4>
  </div>
  <div class="image col-lg-4">
    <img src="../../../assets/training.jpg" height="400px">
    <h4>Training</h4>
  </div>
</div>
