.pool-photo {
  background: url('../../../assets/Swimming-Pool-Homepage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 850px;
}

.photo-caption {
  color: white;
  text-align: center;
  margin-top: -500px;
}

h1 {
  font-size: 3.5rem;
}
