<div class="jumbotron">
  <div class="container">
    <form [formGroup]="addMemberForm" (ngSubmit)="onSubmit()">
      <div><label>First Name:</label></div>
      <input type="text" formControlName="firstName">
      <div><label>Last Name:</label></div>
      <input type="text" formControlName="lastName">
      <div><label>Address:</label></div>
      <input type="text" formControlName="address">
      <div><label>Phone:</label></div>
      <input type="text" formControlName="phone">
      <div><button type="submit" mat-raised-button color="primary" [disabled]="!addMemberForm.valid">Submit</button></div>
    </form>
  </div>
</div>
