<div class="contact">
  <div class="controls col-4">
    <h2>Drop us a line</h2>
    <form id="form">
      <div class="columns is-centered">
        <div class="column is-half">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" name="name" required="" type="text">
          </div>
        </div>
        <div class="column is-half">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" name="email" required="" type="email">
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column">
          <label class="label">Message</label>
          <div class="control">
            <textarea class="textarea" name="message" required="" rows="5">
            </textarea>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-one-third">
          <div class="control">
            <button class="button" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-8" class="contact-image">

  </div>
</div>
